@import "tailwindcss";

.scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.scrollbar::-webkit-scrollbar {
    display: none;
}

@keyframes blink {
    0%{
        opacity: 1;
    }
    25%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    75%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.animate-blink{
    animation: blink 1s infinite;
}